@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

@media only screen and (orientation: portrait) {
  body {
    background-color: #080E2F;
  }
  body .container #home_section_id .home_section_class {
    background-color: #080E2F;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .container #home_section_id .home_section_class .home_section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }
  body .container #home_section_id .home_section_class .home_section_content .back_head_shot {
    width: 64vw;
    height: 64vw;
    background-color: #36395D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .container #home_section_id .home_section_class .home_section_content .back_head_shot .home_headshot {
    width: 58vw;
    height: 58vw;
    border-radius: 50%;
    background-color: #080E2F;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .container #home_section_id .home_section_class .home_section_content .back_head_shot .home_headshot #headshot {
    height: 52vw;
    width: 52vw;
    border-radius: 50%;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8vh;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_title {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_title .home_name {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_title .home_title {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_title .home_title p {
    color: #00C6C3;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    padding: 1vh 5vw 1vh 5vw;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .home_slogan p {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .learn_more a {
    color: white;
    color: #080E2F;
    color: #00C6C3;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    padding: 5vh 20vw 5vh 20vw;
  }
}
@media only screen and (orientation: landscape) {
  body {
    background-color: #00313E;
  }
  body .container #home_section_id .home_section_class {
    background-color: #146166;
    background-color: #080E2F;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .container #home_section_id .home_section_class .home_section_content {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }
  body .container #home_section_id .home_section_class .home_section_content .back_head_shot {
    width: 30vw;
    height: 30vw;
    background-color: #36395D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .container #home_section_id .home_section_class .home_section_content .back_head_shot .home_headshot {
    width: 27vw;
    height: 27vw;
    border-radius: 50%;
    background-color: #080E2F;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .container #home_section_id .home_section_class .home_section_content .back_head_shot .home_headshot #headshot {
    height: 24vw;
    width: 24vw;
    border-radius: 50%;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8vh;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_title {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_title .home_name {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_title .home_title {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_title .home_title p {
    color: #00C6C3;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    padding: 1vh 5vw 1vh 5vw;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .home_slogan p {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .container #home_section_id .home_section_class .home_section_content .home_section_words .learn_more a {
    color: white;
    color: #080E2F;
    color: #00C6C3;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    padding: 5vh 20vw 5vh 20vw;
  }
}/*# sourceMappingURL=style.css.map */