@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Colors

// Dark Blue
$darkblue: #080E2F;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);
// Job Descriptions
$jobdescription: #00C6C3;
// First Blue
$firstblue: #58a6ff;

// Learn More
$learnmoretext: #00567F;
$learnmoregrey: rgb(148, 151, 197);

// WHOLE THING
* {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

// MOBILE PORTRAIT
@media only screen and (orientation: portrait) {
    body {
        background-color: $darkblue;
        .container {
            // HOME SECTION
            #home_section_id {
                .home_section_class {
                    .home_navbar {
                        display: none;
                    }
                    background-color: $darkblue;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .home_section_content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5vw;
                        .back_head_shot {
                            width: 64vw;
                            height: 64vw;
                            background-color: $portfolios;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .home_headshot {
                                width: 58vw;
                                height: 58vw;
                                border-radius: 50%;
                                background-color: $darkblue;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                #headshot {
                                    height: 52vw;
                                    width: 52vw;
                                    border-radius: 50%;
                                }
                            }
                        }
                        .home_section_words {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            gap: 8vh;
                            // NAME AND TITLE
                            .name_and_title {
                                display: flex;
                                flex-direction: column;
                                gap: 1vh;
                                // NAME
                                .home_name {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    // font-size: clamp(2rem, 2.2rem + .5vw, 3rem);
                                    // font-size: 2.5rem;
                                    font-size: 7vw;
                                    font-weight: bold;
                                }
                                // JOB TITLE
                                .home_title {
                                    border: 1px solid $portfolios;
                                    border-radius: 5px;
                                    background-color: $portfolios;
                                    p {
                                        color: $jobdescription;
                                        color: $learnmoregrey;
                                        font-family: 'Roboto', sans-serif;
                                        // font-size: clamp(1rem, 1.5rem, 2rem);
                                        // font-size: 1rem;
                                        font-size: 5vw;
                                        padding: 1vh 5vw 1vh 5vw;
                                    }
                                }
                            }
                            // SLOGAN
                            .home_slogan {
                                p {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: bold;
                                    // font-size: clamp(1rem, 1.2rem, 1.5rem);
                                    font-size: 4vw;
                                }
                            }
                            // LEARN MORE
                            .learn_more {
                                border: 1px solid $portfolios;
                                // border: 1px solid white;
                                border-radius: 5px;
                                background-color: $portfolios;
                                // background-color: white;
                                height: 5vh;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: 2px 2px 2px 2px black;
                                a {
                                    color: white;
                                    // color: $darkblue;
                                    // color: $jobdescription;
                                    text-decoration: none;
                                    font-family: 'Roboto', sans-serif;
                                    // font-size: clamp(.5rem, 1.2rem, 2rem);
                                    font-size: 4vw;
                                    font-weight: lighter;
                                    padding: 5vh 20vw 5vh 20vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// MOBILE LANDSCAPE
@media only screen and (orientation: landscape) {
    body {
        background-color: $darkblue;
        .container {
            // HOME SECTION
            #home_section_id {
                .home_section_class {
                    .home_navbar {
                        display: none;
                    }
                    background-color: #146166;
                    background-color: $darkblue;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .home_section_content {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        // font-size: clamp(2rem, 2.2rem, 3rem);
                        // font-size: 2.5rem;
                        font-weight: bold;
                        display: flex;
                        // flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5vw;
                        .back_head_shot {
                            width: 30vw;
                            height: 30vw;
                            background-color: $portfolios;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .home_headshot {
                                width: 27vw;
                                height: 27vw;
                                border-radius: 50%;
                                background-color: $darkblue;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                #headshot {
                                    height: 24vw;
                                    width: 24vw;
                                    border-radius: 50%;
                                }
                            }
                        }
                        .home_section_words {
                            // width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            gap: 8vh;
                            // NAME AND TITLE
                            .name_and_title {
                                display: flex;
                                flex-direction: column;
                                gap: 1vh;
                                // NAME
                                .home_name {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-size: clamp(2rem, 2.2rem, 3rem);
                                    // font-size: 2.5rem;
                                    font-weight: bold;
                                }
                                // JOB TITLE
                                .home_title {
                                    border: 1px solid $portfolios;
                                    border-radius: 5px;
                                    background-color: $portfolios;
                                    p {
                                        color: $jobdescription;
                                        color: $learnmoregrey;
                                        // font-family: 'Roboto', sans-serif;
                                        font-size: clamp(1rem, 1.2rem, 1.5rem);
                                        // font-size: 2vw;
                                        font-weight: lighter;
                                        padding: 2vh 5vw 2vh 5vw;
                                    }
                                }
                            }
                            // SLOGAN
                            .home_slogan {
                                p {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-size: clamp(1rem, 1.2rem, 1.5rem);
                                }
                            }
                            // LEARN MORE
                            .learn_more {
                                border: 1px solid $portfolios;
                                // border: 1px solid white;
                                border-radius: 5px;
                                background-color: $portfolios;
                                // background-color: white;
                                height: 10vh;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: 2px 2px 2px 2px black;
                                a {
                                    color: white;
                                    // color: $darkblue;
                                    // color: $jobdescription;
                                    text-decoration: none;
                                    font-family: 'Inter', sans-serif;
                                    font-size: clamp(.5rem, 1rem, 2rem);
                                    font-weight: lighter;
                                    padding: 0vh 10vw 0vh 10vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// DESKTOP 
@media only screen and (min-width: 992px) {
    body {
        background-color: $darkblue;
        .container {
            // display: none;
            // HOME SECTION
            #home_section_id {
                // NAVBAR DESKTOP
                .home_navbar {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    padding: 3vh;
                    // background-color: #00567F;
                    ul {
                        display: flex;
                        gap: 2vw;
                        text-decoration: none;
                        li {
                            list-style: none;
                            font-size: clamp(1rem, 1.6rem, 1.8rem);
                            a {
                                text-decoration: none;
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-weight: bold;                                }
                        }
                    }
                }
                .home_section_class {
                    display: flex;
                    flex-direction: column;
                    background-color: $darkblue;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: -8vh 0 0 0;
                    .home_section_content {
                        gap: 12vw;
                        .back_head_shot {
                            width: 25vw;
                            height: 25vw;
                            .home_headshot {
                                width: 23vw;
                                height: 23vw;
                                #headshot {
                                    width: 21vw;
                                    height: 21vw;
                                }
                            }
                        }
                        .home_section_words {
                            .name_and_title {
                                // NAME
                                .home_name {
                                    font-size: clamp(2rem, 3.5rem, 4rem);
                                    // font-size: 3vw;
                                }
                                // JOB TITLE
                                .home_title {
                                    p {
                                        font-size: clamp(1rem, 1.8rem, 2rem);
                                    }
                                }
                            }
                            // SLOGAN
                            .home_slogan {
                                p {
                                    font-size: clamp(1rem, 1.5rem, 2rem);
                                }
                            }
                            // LEARN MORE
                            .learn_more {
                                height: 6vh;
                                width: 25vw;
                                a {
                                    width: 25vw;
                                    font-size: clamp(.8rem, 1.1rem, 1.8rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}