@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Colors

// Dark Blue
$darkblue: #080E2F;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);
// Job Descriptions
$jobdescription: #00C6C3;
$jobdescripgrey: #8081AA;
// First Blue
$firstblue: #58a6ff;
// 

// Learn More
$learnmoretext: #00567F;
$learnmoregrey: rgb(148, 151, 197);

// WHOLE THING
* {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

// MOBILE PORTRAIT
@media only screen and (orientation: portrait) {
    body {
        background-color: $darkblue;
        .container {
            .home_navbar {
                display: none;
            }
            // HOME SECTION
            #home_section_id {
                .home_section_class {
                    background-color: $darkblue;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .home_section_content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5vw;
                        .back_head_shot {
                            width: 64vw;
                            height: 64vw;
                            background-color: $portfolios;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .home_headshot {
                                width: 58vw;
                                height: 58vw;
                                border-radius: 50%;
                                background-color: $darkblue;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                #headshot {
                                    height: 52vw;
                                    width: 52vw;
                                    border-radius: 50%;
                                }
                            }
                        }
                        .home_section_words {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            gap: 6vh;
                            // NAME AND TITLE
                            .name_and_title {
                                display: flex;
                                flex-direction: column;
                                gap: 1vh;
                                // NAME
                                .home_name {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    // font-size: clamp(2rem, 2.2rem + .5vw, 3rem);
                                    // font-size: 2.5rem;
                                    font-size: 7vw;
                                    font-weight: bold;
                                }
                                // JOB TITLE
                                .home_title {
                                    border: 1px solid $portfolios;
                                    border-radius: 5px;
                                    background-color: $portfolios;
                                    p {
                                        // color: $jobdescription;
                                        // color: $learnmoregrey;
                                        color: $jobdescripgrey;
                                        font-family: 'Roboto', sans-serif;
                                        // font-size: clamp(1rem, 1.5rem, 2rem);
                                        // font-size: 1rem;
                                        font-size: 5vw;
                                        padding: 1vh 5vw 1vh 5vw;
                                    }
                                }
                            }
                            // SLOGAN
                            .home_slogan {
                                p {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: bold;
                                    font-size: clamp(1rem, 1.2rem, 1.5rem);
                                    // font-size: 4vw;
                                }
                            }
                            // LEARN MORE
                            .learn_more {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 4vh;
                                width: 35vw;
                                border: 1px solid $portfolios;
                                border-radius: 5px;
                                background-color: $portfolios;
                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    text-decoration: none;
                                    p {
                                        color: $darkblue;
                                        font-size: clamp(.5rem, 1rem, 1.5rem);
                                        font-weight: bold;
                                        font-family: 'Inter', sans-serif;
                                    }
                                    #down_arrow_learn {
                                        width: 6vw;
                                        height: 6vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // ABOUT SECTION
            #about_section_id {
                .about_section_class {
                    background-color: $nextgreen;
                    height: 100vh;
                    display: flex;
                    // align-items: center;
                    justify-content: center;
                    .about_section_content {
                        display: flex;
                        flex-direction: column; 
                        gap: 3vh;
                        margin: 5vh 0 0 0;
                        width: 80%;
                        .section_title {
                            font-family: 'Inter', sans-serif;
                            font-weight: bold;
                            color: white;
                            font-size: clamp(2rem, 2.5rem, 3rem);
                        }
                        .about_section_words {
                            display: flex;
                            flex-direction: column; 
                            gap: 3vh;
                            font-family: 'Roboto', sans-serif;
                            color: white;
                            .about_logo {
                                #courdevs_about_logo {
                                    width: 30vw;
                                    height: 30vw;
                                }
                            }
                        }
                        // Download Resume Button
                        .resume_button_div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 5vh;
                            width: 80vw;
                            border: 1px solid $skillsteal;
                            border-radius: 5px;
                            background-color: $skillsteal;
                            margin: 3vh 0 0 0;
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 2vw;
                                text-decoration: none;
                                p {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: bold;
                                }
                                #dload_resume_logo {
                                    width: 7vw;
                                    height: 7vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// MOBILE LANDSCAPE
@media only screen and (orientation: landscape) {
    body {
        background-color: $darkblue;
        .container {
            .home_navbar {
                display: none;
            }
            // HOME SECTION
            #home_section_id {
                .home_section_class {
                    background-color: #146166;
                    background-color: $darkblue;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .home_section_content {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        // font-size: clamp(2rem, 2.2rem, 3rem);
                        // font-size: 2.5rem;
                        font-weight: bold;
                        display: flex;
                        // flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5vw;
                        .back_head_shot {
                            width: 30vw;
                            height: 30vw;
                            background-color: $portfolios;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .home_headshot {
                                width: 27vw;
                                height: 27vw;
                                border-radius: 50%;
                                background-color: $darkblue;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                #headshot {
                                    height: 24vw;
                                    width: 24vw;
                                    border-radius: 50%;
                                }
                            }
                        }
                        .home_section_words {
                            // width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            gap: 8vh;
                            // NAME AND TITLE
                            .name_and_title {
                                display: flex;
                                flex-direction: column;
                                gap: 1vh;
                                // NAME
                                .home_name {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-size: clamp(2rem, 2.2rem, 3rem);
                                    // font-size: 2.5rem;
                                    font-weight: bold;
                                }
                                // JOB TITLE
                                .home_title {
                                    border: 1px solid $portfolios;
                                    border-radius: 5px;
                                    background-color: $portfolios;
                                    p {
                                        // color: $jobdescription;
                                        // color: $learnmoregrey;
                                        color: $jobdescripgrey;
                                        // font-family: 'Roboto', sans-serif;
                                        font-size: clamp(1rem, 1.2rem, 1.5rem);
                                        // font-size: 2vw;
                                        font-weight: lighter;
                                        padding: 2vh 5vw 2vh 5vw;
                                    }
                                }
                            }
                            // SLOGAN
                            .home_slogan {
                                p {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-size: clamp(1rem, 1rem, 1.5rem);
                                }
                            }
                            // LEARN MORE
                            .learn_more {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 10vh;
                                width: 20vw;
                                border: 1px solid $portfolios;
                                border-radius: 5px;
                                background-color: $portfolios;
                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    text-decoration: none;
                                    p {
                                        color: $darkblue;
                                        font-size: clamp(.5rem, 1rem, 1.5rem);
                                        text-decoration: none;
                                        font-weight: bold;
                                    }
                                    #down_arrow_learn {
                                        width: 3vw;
                                        height: 3vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // ABOUT SECTION 
            #about_section_id {
                .about_section_class {
                    background-color: $nextgreen;
                    height: 200vh;
                    display: flex;
                    // align-items: center;
                    justify-content: center;
                    .about_section_content {
                        display: flex;
                        flex-direction: column; 
                        gap: 3vh;
                        margin: 7vh 0 0 0;
                        width: 80%;
                        .section_title {
                            font-family: 'Inter', sans-serif;
                            font-weight: bold;
                            color: white;
                            font-size: clamp(2rem, 2.5rem, 3rem);
                        }
                        .about_section_words {
                            display: flex;
                            flex-direction: column; 
                            gap: 3vh;
                            font-family: 'Roboto', sans-serif;
                            color: white;
                            font-size: clamp(1rem, 1.1rem, 3rem);
                            .about_logo {
                                margin: 5vh 0 5vh 0;
                                #courdevs_about_logo {
                                    width: 15vw;
                                    height: 15vw;
                                }
                            }
                        }
                        // Download Resume Button
                        .resume_button_div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 12vh;
                            width: 80vw;
                            border: 1px solid $skillsteal;
                            border-radius: 5px;
                            background-color: $skillsteal;
                            margin: 7vh 0 0 0;
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 1.5vw;
                                text-decoration: none;
                                p {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: bold;
                                    font-size: clamp(1rem, 1.1rem, 2rem);
                                }
                                #dload_resume_logo {
                                    width: 4vw;
                                    height: 4vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// DESKTOP 
@media only screen and (min-width: 992px) {
    body {
        background-color: $darkblue;
        .container {
            // display: none;
            // LOGO
             // NAVBAR DESKTOP
             .home_navbar {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 3vh;
                // margin: 2vh 12vw 0 0;
                // background-color: #00567F;
                .courdevs_logo {
                    color: white;
                    margin: 0vh 0 0 4vw;
                    #courdevs_logo {
                        width: 10vw;
                        height: 10vw;
                    }
                }
                ul {
                    display: flex;
                    gap: 1.5vw;
                    text-decoration: none;
                    margin: -8vh 9vw 0 0;
                    li {
                        list-style: none;
                        font-size: clamp(1rem, 1.4rem, 1.8rem);
                        a {
                            text-decoration: none;
                            color: white;
                            font-family: 'Inter', sans-serif;
                            font-weight: bold;                                }
                    }
                }
            }
            // HOME SECTION
            #home_section_id {
                .home_section_class {
                    display: flex;
                    flex-direction: column;
                    background-color: $darkblue;
                    height: 75vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // margin: -8vh 0 0 0;
                    .home_section_content {
                        gap: 11vw;
                        margin: -15vh 0 0 0;
                        .back_head_shot {
                            width: 30vw;
                            height: 30vw;
                            .home_headshot {
                                width: 28vw;
                                height: 28vw;
                                #headshot {
                                    width: 26vw;
                                    height: 26vw;
                                }
                            }
                        }
                        .home_section_words {
                            .name_and_title {
                                // NAME
                                .home_name {
                                    font-size: clamp(2rem, 3rem, 4rem);
                                    // font-size: 3vw;
                                }
                                // JOB TITLE
                                .home_title {
                                    p {
                                        font-size: clamp(1rem, 1.4rem, 2rem);
                                    }
                                }
                            }
                            // SLOGAN
                            .home_slogan {
                                p {
                                    font-size: clamp(1rem, 1.2rem, 2rem);
                                    font-size: clamp(2rem, 2rem, 3rem);
                                }
                            }
                            // LEARN MORE
                            .learn_more {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 5vh;
                                width: 10vw;
                                border: 1px solid $portfolios;
                                border-radius: 5px;
                                background-color: $portfolios;
                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    text-decoration: none;
                                    p {
                                        color: $darkblue;
                                        font-size: clamp(.5rem, 1.3rem, 1.5rem);
                                        text-decoration: none;
                                        font-weight: bold;
                                    }
                                    #down_arrow_learn {
                                        width: 1.5vw;
                                        height: 1.5vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // ABOUT SECTION 
            #about_section_id {
                .about_section_class {
                    background-color: $nextgreen;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .about_section_content {
                        display: flex;
                        flex-direction: column;
                        margin: 0vh 0 0 0;
                        width: 80%;
                        .section_title {
                            font-family: 'Inter', sans-serif;
                            font-weight: bold;
                            color: white;
                            font-size: clamp(2rem, 3.8rem, 4rem);
                            margin: 0 0 3vh 0;
                        }
                        .about_section_words {
                            display: flex;
                            flex-direction: column; 
                            gap: 3vh;
                            font-family: 'Roboto', sans-serif;
                            color: white;
                            font-size: clamp(1rem, 1.5rem, 3rem);
                            .about_logo {
                                margin: 2vh 0 2vh 0;
                                #courdevs_about_logo {
                                    width: 8vw;
                                    height: 8vw;
                                }
                            }
                        }
                        // Download Resume Button
                        .resume_button_div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 7vh;
                            width: 20%;
                            border: 1px solid $skillsteal;
                            border-radius: 5px;
                            background-color: $skillsteal;
                            margin: 2vh 0 0 0;
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                p {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: bold;
                                    // font-size: clamp(1rem, 1.5rem, 2rem);
                                    font-size: clamp(.5rem, 1.3rem, 1.5rem);
                                }
                                #dload_resume_logo {
                                    width: 2vw;
                                    height: 2vw;
                                    margin-left: -2vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}